Flask>=3.0.0
flask-cors>=4.0.0
Flask-SocketIO>=5.3.6
python-socketio>=5.11.0
eventlet>=0.36.1
psycopg2-binary>=2.9.9
pytest>=8.0.0

alembic>=1.13.2
SQLAlchemy>=2.0.0
flask-jwt-extended>=4.6.0
pyjwt==2.8.0
bcrypt==5.0.0
joblib
pandas
scikit-learn==1.7.1