@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@config "../../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(55%) sepia(75%) saturate(452%) hue-rotate(290deg) brightness(99%) contrast(93%);
  cursor: pointer;
}

input:focus {
  outline: none;
  box-shadow: 0 0 6px #FF8CC6;
  border-color: #FF8CC6;
}

select:focus {
  outline: none;
  box-shadow: 0 0 6px #FF8CC6;
  border-color: #FF8CC6;
}

button:focus {
  outline: none;
  box-shadow: 0 0 6px #FF8CC6;
  border-color: #FF8CC6;
}